# Виртуальное окружение и кеш Python
.venv/
__pycache__/
*.pyc

# База данных (ОЧЕНЬ ВАЖНО!)
*.db
*.sqlite
*.sqlite3
instance/

# Секретные данные (КРИТИЧЕСКИ ВАЖНО!)
.env

# Файлы IDE и редакторов
.vscode/
.idea/

# Сгенерированные файлы
*.log
*.pid