{% extends "base.html" %}

{% block content %}
<h1>Админ-панель</h1>
<p>Добро пожаловать, {{ current_user.username }}!</p>

<div class="list-group">
    <a href="{{ url_for('admin_products') }}" class="list-group-item list-group-item-action">📋 Управление товарами</a>
    <a href="{{ url_for('add_product') }}" class="list-group-item list-group-item-action">➕ Добавить новый товар</a>
    <a href="{{ url_for('admin_orders') }}" class="list-group-item list-group-item-action">📦 Управление заказами</a>
    <a href="{{ url_for('admin_articles') }}" class="list-group-item list-group-item-action">📚 Управление энциклопедией</a>
    <a href="{{ url_for('admin_consultations') }}" class="list-group-item list-group-item-action">📋 Заявки на подбор</a>
</div>
{% endblock %}